
.teammember .name {
  color: #ee1c25;
  font-weight: bold;
}

/* Team members */

.teammember img {
  float:left;
  margin-right: 15px;
  margin-top:5px;
}

.teammember .name {
  margin-bottom: 10px;
}

.teammember .description {
  display: block;
}
